@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body, heading */
@layer base {
  body {
    @apply bg-[#ddd] text-[#333]
    !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-600
  }
  header {
      @apply fixed top-0 z-30 flex w-full items-center justify-between px-3 py-3 transition-all
      md:px-7 md:py-0
  }
}
@layer utilities {
  h1 {
    @apply text-2xl font-bold
  }
  h2 {
    @apply text-xl
  }
}
@layer components {
  /* アイコン画像 */
  .MyIcon {
    @apply rounded-full
  }

  /* ヘッダーのサイトマップ */
  .HeaderLink {
    @apply cursor-pointer text-center px-6 py-8 h-full transition ease-in-out duration-300
    hover:bg-red-600 hover:text-[#ddd]
  }

  /* ハンバーガーメニュー全般 */
  .BurgerClicked {
    @apply absolute top-0 left-0 flex-row-reverse h-screen w-screen z-40 bg-[#333]/50
  }
  .MenuHidden {
    @apply fixed top-0 right-[-100%] h-screen w-60 z-50 bg-[#eee] ease-in-out duration-300
  }
  .MenuVisible {
    @apply fixed top-0 right-0 h-screen w-60 z-50 bg-[#eee] ease-in-out duration-300
  }
  .MenuCols {
    @apply cursor-pointer text-xl flex-col text-right p-7 pr-14 transition ease-in-out duration-300
    hover:bg-red-600 hover:text-[#ddd]
  }
}